user=postgres.your_user
password=your_password
host=aws-1-eu-west-1.pooler.supabase.com
port=6543
dbname=postgres
ROUTING_DRIVING_BASE_URL=https://router.project-osrm.org
ROUTING_DRIVING_PROFILE=driving
ROUTING_WALKING_BASE_URL=
ROUTING_WALKING_PROFILE=foot
